.wrapper{
    width: 100%;
    height: 100%;
    padding-top: 170px;
    display: flex;
    justify-content: space-around;
    // font-size: 15px;
    overflow: auto;
    .textContainer{
        width: 60%;
        padding: 20px;
        margin: 0 auto;
        p{
            padding: 2px;
        }
        .mb15{
            margin-bottom: 15px;
        }
        .mb55{
            margin-bottom: 55px;
        }
    }
}

@media screen and(min-width:600px)and(max-width:1028px) {
    .wrapper{
        .textContainer{
            width: 73%;
            padding: 14px;
        }
    }
}
@media screen and(max-width:600px) {
    .wrapper{
        font-size: 12px;
        padding-top: 100px;
        .textContainer{
            overflow: auto;
            width: 88%;
            padding: 7px;
        }
    }
}