// .wrapper{
//     width: 100%;
//     height: 100%;
//     padding-top: 170px;
//     display: flex;
//     justify-content: space-around;
//     overflow: auto;
//     .container{
//         width: 90%;
//         text-align: center;
//         .item{
//             height: 200px;
//             display: inline-block;
//             // margin-bottom: 90px;
//             // margin-right: 90px;
//             margin: 0 45px 90px;
//             transform: translateZ(0);
//             transition: opacity 350ms ease-in-out;
//             cursor: pointer;
//             img{
//                 height: 100%;
//                 width: auto;
//             }
//         }
//         .item:hover{
//             opacity: .6;
//         }
//     }
// }

.wrapper{
        width: 100%;
        height: 100%;
        padding-top: 170px;
        display: flex;
        justify-content: space-around;
        overflow: auto;
        .container{
            width: 80%;
            .item{
            display: block;
            float: left;
            width: 17.5%;
            margin: 3.75%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: translateZ(0);
            transition: opacity 350ms ease-in-out;
            cursor: pointer;
            }
            .item::after{
            content: '';
            width: 100%;
            padding-top: 100%;
            display: block;
            }
            .item:hover{
            opacity: .6;
            }
        }
    }